[bumpversion]
current_version = 5_4_5
commit = False
tag = False
parse = (?P<major>\d+)_(?P<minor>\d+)_(?P<patch>\d+)
serialize = 
	{major}_{minor}_{patch}

[bumpversion:file:bin/platedesign_version]

[bumpversion:file:python/platedesign/__init__.py]

