* text=auto !eol
/Makefile -text
/README -text
bin/drillrun2zip -text
bin/platedesign_version -text
data/sdss/fiberBlocks.par -text
data/sdss/g_codes_alignment.txt -text
data/sdss/g_codes_completion.txt -text
data/sdss/g_codes_lighttrap.txt -text
data/sdss/g_codes_object.txt -text
data/sdss/plParam.par -text
data/sdss/plPlugMapP-blank.par -text
data/strategy/boss_observing_nights.par -text
data/strategy/night_usage.ps -text
data/strategy/tiInputFormat.fit -text
data/strategy/tile-simple.par -text
defaults/plateDefault-MARVELS_PRE-v0_1.par -text
defaults/plateDefault-MARVELS_PRESELECT-v0_0.par -text
defaults/plateDefault-SEGUE2-v0_1.par -text
defaults/plateDefault-example-v0_0.par -text
obsolete/pro/coo_read.pro -text
obsolete/pro/make_example.pro -text
obsolete/pro/plate_design.pro -text
obsolete/pro/plate_marvels.pro -text
obsolete/pro/plate_marvels_jun08.pro -text
obsolete/pro/plate_marvels_new.pro -text
obsolete/pro/plate_marvels_oct07.pro -text
obsolete/pro/plate_qsos.pro -text
obsolete/pro/plate_qsos_feb08.pro -text
obsolete/pro/plate_select_guide.pro -text
obsolete/pro/plate_select_sky.pro -text
obsolete/pro/qsolist_read.pro -text
pro/misc/check_new_cover.pro -text
pro/misc/check_old_cover.pro -text
pro/misc/lines2struct.pro -text
pro/misc/platedesign_version.pro -text
pro/misc/struct2lines.pro -text
pro/misc/struct_combine.pro -text
pro/misc/test_fiber.pro -text
pro/misc/test_plug.pro -text
pro/misc/test_segue2_inputs.pro -text
pro/plate/ad2xyfocal.pro -text
pro/plate/alignment_fiber.pro -text
pro/plate/check_conflicts.pro -text
pro/plate/design_blank.pro -text
pro/plate/design_dir.pro -text
pro/plate/fiberid_marvels.pro -text
pro/plate/fiberid_sdss.pro -text
pro/plate/gfiber_params.pro -text
pro/plate/plate_ad2xy.pro -text
pro/plate/plate_apo_refrac.pro -text
pro/plate/plate_assign.pro -text
pro/plate/plate_assign_constrained.pro -text
pro/plate/plate_assign_guide.pro -text
pro/plate/plate_center.pro -text
pro/plate/plate_design.pro -text
pro/plate/plate_dir.pro -text
pro/plate/plate_guide.pro -text
pro/plate/plate_holes.pro -text
pro/plate/plate_pmotion_correct.pro -text
pro/plate/plate_refract_list.pro -text
pro/plate/plate_sanity.pro -text
pro/plate/plate_select_guide_2mass.pro -text
pro/plate/plate_select_guide_sdss.pro -text
pro/plate/plate_select_sky_sdss.pro -text
pro/plate/plate_select_sphoto.pro -text
pro/plate/plate_select_sphoto_2mass.pro -text
pro/plate/plate_select_sphoto_sdss.pro -text
pro/plate/plate_sky.pro -text
pro/plate/plate_standard.pro -text
pro/plate/plate_tmass_to_sdss.pro -text
pro/plate/plate_trap.pro -text
pro/plate/plate_tycho_to_sdss.pro -text
pro/plate/plate_writepage.pro -text
pro/plate/plate_xy2ad.pro -text
pro/plate/platerun.pro -text
pro/plate/platerun_sdss.pro -text
pro/plate/plplugmap_blank.pro -text
pro/plate/plugfile_plplugmap.pro -text
pro/plate/sdss_plugprob.pro -text
pro/plate/sky_location_candidates.pro -text
pro/plate/target2design.pro -text
pro/plate/xyfocal2ad.pro -text
pro/strategy/QUESTIONS -text
pro/strategy/apo_almanac.pro -text
pro/strategy/apo_in_interval.pro -text
pro/strategy/baseline_tiles.pro -text
pro/strategy/boss_efficiency_half.pro -text
pro/strategy/boss_observing_days.pro -text
pro/strategy/boss_observing_night.pro -text
pro/strategy/boss_observing_nights.pro -text
pro/strategy/boss_strategy_simple.pro -text
pro/strategy/dummy_tiles.pro -text
pro/strategy/interval_stats.pro -text
pro/strategy/lrgs2tiinput.pro -text
pro/strategy/night_intervals.pro -text
pro/strategy/plot_night_usage.pro -text
pro/strategy/run_boss_strategy.pro -text
pro/strategy/splot_rbs.pro -text
pro/strategy/trial_lrgs_for_tile.pro -text
pro/strategy/trim_tiles.pro -text
src/Makefile -text
src/cs2/COPYRIGHT -text
src/cs2/README -text
src/cs2/cs2.c -text
src/cs2/makefile -text
src/cs2/parser_cs2.c -text
src/cs2/sample.input -text
src/cs2/timer.c -text
src/cs2/types_cs2.h -text
src/cs2/version -text
src/fiber/Makefile -text
src/fiber/export.h -text
src/fiber/fiber.h -text
src/fiber/idl_read_plugprob.c -text
src/fiber/idl_write_plugprob.c -text
src/fiber/plugprob.c -text
src/skycalc/Makefile -text
src/skycalc/skycalc.c -text
ups/platedesign.table -text
