/*.o
/bin
bin/*.o
bin/bin
data/*.o
data/apogee/*.o
data/apogee/bin
data/bin
data/boss/*.o
data/boss/bin
data/manga/*.o
data/manga/bin
data/marvels/*.o
data/marvels/bin
data/sdss/*.o
data/sdss/bin
data/test/*.o
data/test/bin
defaults/*.o
defaults/bin
defaults/obsolete/*.o
defaults/obsolete/bin
docs/*.o
docs/bin
etc/*.o
etc/bin
lib/*.o
lib/bin
obsolete/*.o
obsolete/bin
obsolete/pro/*.o
obsolete/pro/bin
pro/*.o
pro/bin
pro/misc/*.o
pro/misc/bin
pro/objects/*.o
pro/objects/bin
pro/plate/*.o
pro/plate/bin
pro/retro/*.o
pro/retro/bin
pro/test/*.o
pro/test/bin
pro/third_party/*.o
pro/third_party/bin
pro/third_party/galloy/*.o
pro/third_party/galloy/bin
python/*.o
python/bin
python/platedesign/*.o
python/platedesign/bin
python/platedesign/fanuc/*.o
python/platedesign/fanuc/bin
python/platedesign/plate/*.o
python/platedesign/plate/bin
python/platedesign/survey/*.o
python/platedesign/survey/bin
src/*.o
src/bin
src/cs2/*.o
src/cs2/bin
src/cs2/cs2
src/fanuc/*.o
src/fanuc/bin
src/fiber/*.o
src/fiber/bin
src/skycalc/*.o
src/skycalc/bin
src/xml/*.o
src/xml/bin
tcl/*.o
tcl/bin
ups/*.o
ups/bin
