* text=auto !eol
/Makefile -text
/README -text
bin/.svnignore -text
bin/drillrun2zip -text
bin/fanuc2xy -text
bin/get_plugmap_files.py -text
bin/platedesign_version -text
bin/qsub_match.pl -text
data/apogee/JointAnchorBlockPositionsR4.dat -text
data/apogee/fiberBlocksAPOGEE.par -text
data/apogee/fiberBlocksBrightAPOGEE.par -text
data/apogee/fiberBlocksFaintAPOGEE.par -text
data/apogee/fiberBlocksMediumAPOGEE.par -text
data/boss/SDSS3FiberReach.pdf -text
data/boss/SDSS3FiberReachData.pdf -text
data/boss/SDSS3SFAnchrBlcks.pdf -text
data/boss/fiberBlocksBOSS.par -text
data/boss/fiberBlocksBOSS.ps -text
data/boss/fiberBlocksBOSSOld.par -text
data/manga/README -text
data/manga/fiber-centers-manga-prototype.xlsx -text
data/manga/fiberBlocksMaNGAProto.par -text
data/manga/fiberBlocksMaNGAProto2.par -text
data/manga/fiberBlocksMaNGAProto3.par -text
data/manga/fiberBlocksMaNGAProto5.par -text
data/manga/g_codes_manga_align_object.txt -text
data/manga/g_codes_manga_bundle_object.txt -text
data/manga/g_codes_manga_completion.txt -text
data/manga/g_codes_manga_object.txt -text
data/manga/plParam.par -text
data/marvels/anchor-block-map-2008-09-10.pdf -text
data/marvels/anchor_tests.txt -text
data/marvels/anchordiagram.jpg -text
data/marvels/fiberBlocksMARVELSBright.par -text
data/marvels/fiberBlocksMARVELSBrightA.par -text
data/marvels/fiberBlocksMARVELSBrightB.par -text
data/marvels/fiberBlocksMarvels.par -text
data/marvels/fiberBlocksMarvelsDummy.par -text
data/marvels/fiberBlocksMarvelsTest120.par -text
data/marvels/fiberBlocksMarvelsTest60.par -text
data/marvels/fiberBlocksMarvels_p1.par -text
data/marvels/fiberBlocksMarvels_p2.par -text
data/marvels/g_codes_et_guide.txt -text
data/marvels/g_codes_et_object.txt -text
data/marvels/plParam.par -text
data/sdss/SDSS3GuideFbrHrnssNumSysV1.pdf -text
data/sdss/fiberBlocks.par -text
data/sdss/g_codes_alignment.txt -text
data/sdss/g_codes_completion.txt -text
data/sdss/g_codes_lighttrap.txt -text
data/sdss/g_codes_object.txt -text
data/sdss/holtzman-adr.txt -text
data/sdss/image-heights.txt -text
data/sdss/plParam.par -text
data/sdss/plParam_LCO.par -text
data/sdss/plPlugMapP-blank.par -text
data/sdss/plate-orientation.txt -text
data/sdss/plugMap-blank.par -text
data/sdss/sdss_newguide.par -text
data/test/guide_2mass.fits -text
data/test/guide_2mass.kml -text
data/test/guide_sdss.fits -text
data/test/guide_sdss.kml -text
data/test/icon.png -text
defaults/obsolete/plateDefault-APOGEE-MARVELS-DUAL-v1.par -text
defaults/obsolete/plateDefault-APOGEE-MARVELS-SINGLE-v1.par -text
defaults/obsolete/plateDefault-APOGEE-v1.par -text
defaults/obsolete/plateDefault-BOSS-v0.par -text
defaults/obsolete/plateDefault-BOSS-v1.par -text
defaults/obsolete/plateDefault-BOSS-v2.par -text
defaults/obsolete/plateDefault-BOSS-v3.par -text
defaults/obsolete/plateDefault-MANGA-v1.par -text
defaults/obsolete/plateDefault-MARVELS-v0_0.par -text
defaults/obsolete/plateDefault-MARVELS-v0_5.par -text
defaults/obsolete/plateDefault-MARVELS-v0_6.par -text
defaults/obsolete/plateDefault-MARVELS-v0_7.par -text
defaults/obsolete/plateDefault-MARVELS-v0_8.par -text
defaults/obsolete/plateDefault-MARVELS-v0_9.par -text
defaults/obsolete/plateDefault-MARVELS_3-v0_5.par -text
defaults/obsolete/plateDefault-MARVELS_PRE-v0_1.par -text
defaults/obsolete/plateDefault-MARVELS_PRE-v0_2.par -text
defaults/obsolete/plateDefault-MARVELS_PRE-v0_3.par -text
defaults/obsolete/plateDefault-MARVELS_PRE-v0_4.par -text
defaults/obsolete/plateDefault-MARVELS_PRE_SINGLE-v0_1.par -text
defaults/obsolete/plateDefault-MARVELS_PRE_SINGLE-v0_2.par -text
defaults/obsolete/plateDefault-MARVELS_PRE_SINGLE-v0_3.par -text
defaults/plateDefault-APOGEE-BULGE-v1.par -text
defaults/plateDefault-APOGEE-MANGA-v0.par -text
defaults/plateDefault-APOGEE-MANGA-v1.par -text
defaults/plateDefault-APOGEE-MARVELS-DUAL-v2.par -text
defaults/plateDefault-APOGEE-MARVELS-SINGLE-v2.par -text
defaults/plateDefault-APOGEE-MARVELS-v0.par -text
defaults/plateDefault-APOGEE-v2.par -text
defaults/plateDefault-APOGEE2-GUIDETEST-v0.par -text
defaults/plateDefault-APOGEE2-MANGA-v1.par -text
defaults/plateDefault-BOSS-v4.par -text
defaults/plateDefault-MANGA-APOGEE-v0.par -text
defaults/plateDefault-MANGA-APOGEE2-v1.par -text
defaults/plateDefault-MANGA-v2.par -text
defaults/plateDefault-MARVELS-DUAL-v1.par -text
defaults/plateDefault-MARVELS-SINGLE-v1.par -text
defaults/plateDefault-MARVELS_PRE-v0_5.par -text
defaults/plateDefault-MARVELS_PRESELECT-v0_0.par -text
defaults/plateDefault-MARVELS_PRE_SINGLE-v0_4.par -text
defaults/plateDefault-SEGUE2-v0_1.par -text
defaults/plateDefault-SEGUEtest-v0_7.par -text
defaults/plateDefault-example-v0_0.par -text
defaults/plateDefault-gridtest-v0_7.par -text
defaults/plateDefault-guideplate-v0.par -text
defaults/plateDefault-guidertest-v0.par -text
docs/SDSS3GdFbrAnchrPtandRch955.pdf -text
docs/validation.txt -text
lib/.svnignore -text
obsolete/pro/coo_read.pro -text
obsolete/pro/make_example.pro -text
obsolete/pro/plate_design.pro -text
obsolete/pro/plate_marvels.pro -text
obsolete/pro/plate_marvels_jun08.pro -text
obsolete/pro/plate_marvels_new.pro -text
obsolete/pro/plate_marvels_oct07.pro -text
obsolete/pro/plate_qsos.pro -text
obsolete/pro/plate_qsos_feb08.pro -text
obsolete/pro/plate_select_guide.pro -text
obsolete/pro/plate_select_sky.pro -text
obsolete/pro/platerun_apogee.pro -text
obsolete/pro/platerun_marvels.pro -text
obsolete/pro/platerun_sdss.pro -text
obsolete/pro/qsolist_read.pro -text
pro/misc/bad_plates.pro -text
pro/misc/check_fiberreach.pro -text
pro/misc/check_file_exists.pro -text
pro/misc/check_new_cover.pro -text
pro/misc/check_old_cover.pro -text
pro/misc/checkha.pro -text
pro/misc/cmm_fit.pro -text
pro/misc/cmm_fit_all.pro -text
pro/misc/cmm_fit_plot.pro -text
pro/misc/cmm_fit_squash.pro -text
pro/misc/cmm_fit_tilt.pro -text
pro/misc/color_string.pro -text
pro/misc/copydef.pro -text
pro/misc/current_function_filename.pro -text
pro/misc/fiberreach_image.pro -text
pro/misc/fix_for_pm.pro -text
pro/misc/fix_kyle.pro -text
pro/misc/make_apogee2s_alignment_plate.pro -text
pro/misc/make_boss_alignment_test_plate.pro -text
pro/misc/make_flat_plate.pro -text
pro/misc/make_trap_file.pro -text
pro/misc/p_end_print.pro -text
pro/misc/p_print.pro -text
pro/misc/pangle.pro -text
pro/misc/plate_add_washers.pro -text
pro/misc/plate_log.pro -text
pro/misc/plate_struct_combine.pro -text
pro/misc/platedesign_version.pro -text
pro/misc/qsooff.pro -text
pro/misc/splot_vec.pro -text
pro/misc/test_apo_refrac.pro -text
pro/misc/test_apogee.pro -text
pro/misc/test_fiber.pro -text
pro/misc/test_plug.pro -text
pro/misc/test_segue2_inputs.pro -text
pro/misc/tostring.pro -text
pro/objects/plate_design__define.pro -text
pro/objects/plate_plan__define.pro -text
pro/objects/pointing__define.pro -text
pro/objects/xml2design_list__define.pro -text
pro/plate/ad2xyfocal.pro -text
pro/plate/adr.pro -text
pro/plate/alignment_fiber.pro -text
pro/plate/apo_rdistort.pro -text
pro/plate/apogee_fibervhmag.pro -text
pro/plate/assign_same_fiberid.pro -text
pro/plate/boss_fiberblocks.pro -text
pro/plate/boss_reachcheck.pro -text
pro/plate/boss_reachvalues.pro -text
pro/plate/bright_fiberblocks.pro -text
pro/plate/check_conflicts.pro -text
pro/plate/check_photoplate.pro -text
pro/plate/check_photoplate_all.pro -text
pro/plate/create_derivs.pro -text
pro/plate/default_epoch.pro -text
pro/plate/design_blank.pro -text
pro/plate/design_dir.pro -text
pro/plate/design_plates.pro -text
pro/plate/design_pm.pro -text
pro/plate/designscale.pro -text
pro/plate/distribute_guides.pro -text
pro/plate/dss_cache_lookup.pro -text
pro/plate/dss_cache_no_sky_for_input.pro -text
pro/plate/dss_cache_populate_sky.pro -text
pro/plate/dss_cache_setup.pro -text
pro/plate/fiberid_apogee.pro -text
pro/plate/fiberid_boss.pro -text
pro/plate/fiberid_dummy.pro -text
pro/plate/fiberid_manga.pro -text
pro/plate/fiberid_manga_single.pro -text
pro/plate/fiberid_sdss.pro -text
pro/plate/get_buffersize.pro -text
pro/plate/get_ferrulesize.pro -text
pro/plate/get_observatory.pro -text
pro/plate/get_platescale.pro -text
pro/plate/get_tilerad.pro -text
pro/plate/gfiber2_params.pro -text
pro/plate/gfiber_apogeesouthtest_params.pro -text
pro/plate/gfiber_params.pro -text
pro/plate/guider_hdr.pro -text
pro/plate/ha_apply.pro -text
pro/plate/ha_fit.pro -text
pro/plate/ha_limits.pro -text
pro/plate/ha_quick.pro -text
pro/plate/make_gridtest.pro -text
pro/plate/make_guideplate.pro -text
pro/plate/make_hexpack_1353.pro -text
pro/plate/minmaxinblock.pro -text
pro/plate/plate_ad2xy.pro -text
pro/plate/plate_assign.pro -text
pro/plate/plate_assign_constrained.pro -text
pro/plate/plate_assign_guide.pro -text
pro/plate/plate_center.pro -text
pro/plate/plate_counterbore.pro -text
pro/plate/plate_counterbore_manga.pro -text
pro/plate/plate_definition.pro -text
pro/plate/plate_design.pro -text
pro/plate/plate_dir.pro -text
pro/plate/plate_guide.pro -text
pro/plate/plate_guide_derivs.pro -text
pro/plate/plate_guide_derivs_plot.pro -text
pro/plate/plate_guide_images.pro -text
pro/plate/plate_holes.pro -text
pro/plate/plate_mag.pro -text
pro/plate/plate_plug_trim.pro -text
pro/plate/plate_pmotion_correct.pro -text
pro/plate/plate_pmotion_star.pro -text
pro/plate/plate_refrac.pro -text
pro/plate/plate_refract_list.pro -text
pro/plate/plate_sanity.pro -text
pro/plate/plate_select_guide_2mass.pro -text
pro/plate/plate_select_guide_sdss.pro -text
pro/plate/plate_select_guide_usnob.pro -text
pro/plate/plate_select_sky_boss.pro -text
pro/plate/plate_select_sky_sdss.pro -text
pro/plate/plate_select_sky_tmass.pro -text
pro/plate/plate_select_sphoto.pro -text
pro/plate/plate_select_sphoto_2mass.pro -text
pro/plate/plate_select_sphoto_sdss.pro -text
pro/plate/plate_sky.pro -text
pro/plate/plate_standard.pro -text
pro/plate/plate_tmass_to_sdss.pro -text
pro/plate/plate_trap.pro -text
pro/plate/plate_tycho_to_sdss.pro -text
pro/plate/plate_writepage.pro -text
pro/plate/plate_xy2ad.pro -text
pro/plate/plateholes_filename.pro -text
pro/plate/platelines_apogee.pro -text
pro/plate/platelines_apogee2s_test.pro -text
pro/plate/platelines_boss.pro -text
pro/plate/platelines_boss_all.pro -text
pro/plate/platelines_circle.pro -text
pro/plate/platelines_circlefill.pro -text
pro/plate/platelines_connect.pro -text
pro/plate/platelines_guide.pro -text
pro/plate/platelines_guidetest.pro -text
pro/plate/platelines_manga.pro -text
pro/plate/platelines_print_start.pro -text
pro/plate/platelines_start.pro -text
pro/plate/platerun.pro -text
pro/plate/platerun_boss.pro -text
pro/plate/platerun_bright.pro -text
pro/plate/platerun_manga.pro -text
pro/plate/platerun_match.pro -text
pro/plate/plplugmap_blank.pro -text
pro/plate/plugfile_plplugmap.pro -text
pro/plate/plugfile_plplugmap_apogee.pro -text
pro/plate/plugfile_plplugmap_boss.pro -text
pro/plate/plugfile_plplugmap_manga.pro -text
pro/plate/plugmap_blank.pro -text
pro/plate/plugmap_filename.pro -text
pro/plate/ra_in_range.pro -text
pro/plate/reddening.pro -text
pro/plate/reddenmed.pro -text
pro/plate/sdss_plugprob.pro -text
pro/plate/sky_location_candidates.pro -text
pro/plate/target2design.pro -text
pro/plate/xyfocal2ad.pro -text
pro/retro/copy_retro_jul08_to_plates.pro -text
pro/retro/dec_segue2_platelines.pro -text
pro/retro/fix_bad_boss_2010_9.pro -text
pro/retro/fix_plug_ra_range.pro -text
pro/retro/jan_segue2_platelines.pro -text
pro/retro/old_segue2_platelines.pro -text
pro/retro/retrofit_bad_ra.pro -text
pro/retro/retrofit_boss_200905.pro -text
pro/retro/retrofit_boss_200908.pro -text
pro/retro/retrofit_segue2_200904.pro -text
pro/retro/retrofit_segue2_aug08d.pro -text
pro/retro/retrofit_segue2_jul08.pro -text
pro/retro/set_fiberid_3067_to_3079.pro -text
pro/retro/set_fiberid_brians.pro -text
pro/test/check_adr.pro -text
pro/test/check_collisions.pro -text
pro/test/check_reachcheck.pro -text
pro/test/create_apogee_derivs.pro -text
pro/test/extinction_check.pro -text
pro/test/guides_check.pro -text
pro/test/plot_heights.pro -text
pro/test/radec2kml.pro -text
pro/test/run_anchor_tests.pro -text
pro/test/standards_check.pro -text
pro/test/test_2mass_gsc.pro -text
pro/test/test_2mass_gsc_all.pro -text
pro/test/test_2mass_guide.pro -text
pro/test/test_2mass_usnob.pro -text
pro/test/test_ad2xy.pro -text
pro/test/test_adr_pr.pro -text
pro/test/test_guide_stars.pro -text
pro/test/test_tmass_conversion.pro -text
pro/test/write_platelines_run.pro -text
pro/third_party/galloy/dir-overview.html -text
pro/third_party/galloy/mgabstractiterator__define.pro -text
pro/third_party/galloy/mgabstractlist__define.pro -text
pro/third_party/galloy/mgarraylist__define.pro -text
pro/third_party/galloy/mgarraylistiterator__define.pro -text
pro/third_party/hashtable__define.pro -text
pro/third_party/undefine.pro -text
python/notes.md -text
python/platedesign/Design.py -text
python/platedesign/InputFile.py -text
python/platedesign/__init__.py -text
python/platedesign/plate/APOGEE2_Plate.py -text
python/platedesign/plate/MaNGA_Plate.py -text
python/platedesign/plate/Plate.py -text
python/platedesign/plate/__init__.py -text
python/platedesign/survey/APOGEE2.py -text
python/platedesign/survey/EBOSS.py -text
python/platedesign/survey/MaNGA.py -text
python/platedesign/survey/__init__.py -text
python/platedesign/survey/survey.py -text
src/Makefile -text
src/cs2/.svnignore -text
src/cs2/COPYRIGHT -text
src/cs2/README -text
src/cs2/cs2.c -text
src/cs2/makefile -text
src/cs2/parser_cs2.c -text
src/cs2/sample.input -text
src/cs2/timer.c -text
src/cs2/types_cs2.h -text
src/cs2/version -text
src/fiber/Makefile -text
src/fiber/export.h -text
src/fiber/fiber.h -text
src/fiber/idl_read_plugprob.c -text
src/fiber/idl_write_plugprob.c -text
src/fiber/plugprob.c -text
src/skycalc/Makefile -text
src/skycalc/skycalc.c -text
src/xml/platePlans.xsl -text
src/xml/plate_designs.dtd -text
tcl/makeFanucET.tcl -text
tcl/makeFanucManga.tcl -text
ups/platedesign.table -text
