/*.o
bin/*.o
bin/skycalc
data/*.o
data/apogee/*.o
data/boss/*.o
data/manga/*.o
data/marvels/*.o
data/sdss/*.o
data/test/*.o
defaults/*.o
defaults/obsolete/*.o
docs/*.o
etc/*.o
lib/*.o
obsolete/*.o
obsolete/pro/*.o
pro/*.o
pro/misc/*.o
pro/objects/*.o
pro/plate/*.o
pro/retro/*.o
pro/test/*.o
pro/third_party/*.o
pro/third_party/galloy/*.o
python/*.o
python/platedesign/*.o
python/platedesign/fanuc/*.o
python/platedesign/plate/*.o
python/platedesign/survey/*.o
src/*.o
src/cs2/*.o
src/cs2/cs2
src/fanuc/*.o
src/fiber/*.o
src/skycalc/*.o
src/xml/*.o
tcl/*.o
ups/*.o
