* text=auto !eol
/Makefile -text
/README -text
bin/.svnignore -text
bin/drillrun2zip -text
bin/get_plugmap_files.py -text
bin/platedesign_version -text
data/boss/SDSS3FiberReach.pdf -text
data/boss/SDSS3FiberReachData.pdf -text
data/boss/SDSS3SFAnchrBlcks.pdf -text
data/boss/fiberBlocksBOSS.par -text
data/boss/fiberBlocksBOSS.ps -text
data/boss/fiberBlocksBOSSOld.par -text
data/marvels/anchor-block-map-2008-09-10.pdf -text
data/marvels/anchordiagram.jpg -text
data/marvels/fiberBlocksMarvels.par -text
data/marvels/fiberBlocksMarvelsDummy.par -text
data/marvels/fiberBlocksMarvels_p1.par -text
data/marvels/fiberBlocksMarvels_p2.par -text
data/marvels/g_codes_et_guide.txt -text
data/marvels/g_codes_et_object.txt -text
data/marvels/plParam.par -text
data/sdss/fiberBlocks.par -text
data/sdss/g_codes_alignment.txt -text
data/sdss/g_codes_completion.txt -text
data/sdss/g_codes_lighttrap.txt -text
data/sdss/g_codes_object.txt -text
data/sdss/plParam.par -text
data/sdss/plPlugMapP-blank.par -text
data/test/guide_2mass.fits -text
data/test/guide_2mass.kml -text
data/test/guide_sdss.fits -text
data/test/guide_sdss.kml -text
data/test/icon.png -text
defaults/plateDefault-BOSS-v1.par -text
defaults/plateDefault-MARVELS-v0_7.par -text
defaults/plateDefault-MARVELS_3-v0_5.par -text
defaults/plateDefault-MARVELS_PRE-v0_3.par -text
defaults/plateDefault-MARVELS_PRESELECT-v0_0.par -text
defaults/plateDefault-MARVELS_PRE_SINGLE-v0_2.par -text
defaults/plateDefault-SEGUE2-v0_1.par -text
defaults/plateDefault-SEGUEtest-v0_7.par -text
defaults/plateDefault-example-v0_0.par -text
defaults/plateDefault-gridtest-v0_7.par -text
defaults/plateDefault-guideplate-v0.par -text
docs/SDSS3GdFbrAnchrPtandRch955.pdf -text
docs/validation.txt -text
lib/.svnignore -text
obsolete/pro/coo_read.pro -text
obsolete/pro/make_example.pro -text
obsolete/pro/plate_design.pro -text
obsolete/pro/plate_marvels.pro -text
obsolete/pro/plate_marvels_jun08.pro -text
obsolete/pro/plate_marvels_new.pro -text
obsolete/pro/plate_marvels_oct07.pro -text
obsolete/pro/plate_qsos.pro -text
obsolete/pro/plate_qsos_feb08.pro -text
obsolete/pro/plate_select_guide.pro -text
obsolete/pro/plate_select_sky.pro -text
obsolete/pro/qsolist_read.pro -text
pro/misc/bad_plates.pro -text
pro/misc/check_fiberreach.pro -text
pro/misc/check_new_cover.pro -text
pro/misc/check_old_cover.pro -text
pro/misc/fiberreach_image.pro -text
pro/misc/fix_for_pm.pro -text
pro/misc/fix_kyle.pro -text
pro/misc/make_dummy_marvels_blocks.pro -text
pro/misc/plate_log.pro -text
pro/misc/platedesign_version.pro -text
pro/misc/struct_combine.pro -text
pro/misc/test_apo_refrac.pro -text
pro/misc/test_fiber.pro -text
pro/misc/test_plug.pro -text
pro/misc/test_segue2_inputs.pro -text
pro/misc/tostring.pro -text
pro/objects/plate_design__define.pro -text
pro/objects/plate_plan__define.pro -text
pro/objects/pointing__define.pro -text
pro/objects/xml2design_list__define.pro -text
pro/plate/ad2xyfocal.pro -text
pro/plate/adr.pro -text
pro/plate/alignment_fiber.pro -text
pro/plate/assign_same_fiberid.pro -text
pro/plate/boss_fiberblocks.pro -text
pro/plate/check_conflicts.pro -text
pro/plate/design_blank.pro -text
pro/plate/design_dir.pro -text
pro/plate/dss_cache_lookup.pro -text
pro/plate/dss_cache_no_sky_for_input.pro -text
pro/plate/dss_cache_populate_sky.pro -text
pro/plate/dss_cache_setup.pro -text
pro/plate/fiberid_boss.pro -text
pro/plate/fiberid_dummy.pro -text
pro/plate/fiberid_marvels.pro -text
pro/plate/fiberid_sdss.pro -text
pro/plate/get_buffersize.pro -text
pro/plate/get_ferrulesize.pro -text
pro/plate/gfiber2_params.pro -text
pro/plate/gfiber_params.pro -text
pro/plate/make_gridtest.pro -text
pro/plate/make_guideplate.pro -text
pro/plate/make_seguetest.pro -text
pro/plate/marvels_fiberblocks.pro -text
pro/plate/plate_ad2xy.pro -text
pro/plate/plate_apo_refrac.pro -text
pro/plate/plate_assign.pro -text
pro/plate/plate_assign_constrained.pro -text
pro/plate/plate_assign_guide.pro -text
pro/plate/plate_center.pro -text
pro/plate/plate_design.pro -text
pro/plate/plate_dir.pro -text
pro/plate/plate_guide.pro -text
pro/plate/plate_holes.pro -text
pro/plate/plate_pmotion_correct.pro -text
pro/plate/plate_refract_list.pro -text
pro/plate/plate_sanity.pro -text
pro/plate/plate_select_guide_2mass.pro -text
pro/plate/plate_select_guide_sdss.pro -text
pro/plate/plate_select_sky_boss.pro -text
pro/plate/plate_select_sky_sdss.pro -text
pro/plate/plate_select_sky_tmass.pro -text
pro/plate/plate_select_sphoto.pro -text
pro/plate/plate_select_sphoto_2mass.pro -text
pro/plate/plate_select_sphoto_sdss.pro -text
pro/plate/plate_sky.pro -text
pro/plate/plate_standard.pro -text
pro/plate/plate_tmass_to_sdss.pro -text
pro/plate/plate_trap.pro -text
pro/plate/plate_tycho_to_sdss.pro -text
pro/plate/plate_writepage.pro -text
pro/plate/plate_xy2ad.pro -text
pro/plate/platelines_boss.pro -text
pro/plate/platelines_marvels.pro -text
pro/plate/platelines_segue2.pro -text
pro/plate/platerun.pro -text
pro/plate/platerun_boss.pro -text
pro/plate/platerun_marvels.pro -text
pro/plate/platerun_sdss.pro -text
pro/plate/plplugmap_blank.pro -text
pro/plate/plugfile_plplugmap.pro -text
pro/plate/plugfile_plplugmap_boss.pro -text
pro/plate/plugfile_plplugmap_segue2.pro -text
pro/plate/sdss_plugprob.pro -text
pro/plate/sky_location_candidates.pro -text
pro/plate/target2design.pro -text
pro/plate/xyfocal2ad.pro -text
pro/retro/copy_retro_jul08_to_plates.pro -text
pro/retro/dec_segue2_platelines.pro -text
pro/retro/jan_segue2_platelines.pro -text
pro/retro/old_segue2_platelines.pro -text
pro/retro/retrofit_segue2_200904.pro -text
pro/retro/retrofit_segue2_aug08d.pro -text
pro/retro/retrofit_segue2_jul08.pro -text
pro/retro/set_fiberid_3067_to_3079.pro -text
pro/retro/set_fiberid_brians.pro -text
pro/test/extinction_check.pro -text
pro/test/guides_check.pro -text
pro/test/radec2kml.pro -text
pro/test/standards_check.pro -text
pro/test/test_ad2xy.pro -text
pro/test/test_guide_stars.pro -text
pro/test/test_tmass_conversion.pro -text
pro/test/write_platelines_run.pro -text
pro/third_party/galloy/dir-overview.html -text
pro/third_party/galloy/mgabstractiterator__define.pro -text
pro/third_party/galloy/mgabstractlist__define.pro -text
pro/third_party/galloy/mgarraylist__define.pro -text
pro/third_party/galloy/mgarraylistiterator__define.pro -text
pro/third_party/hashtable__define.pro -text
pro/third_party/undefine.pro -text
src/Makefile -text
src/cs2/.svnignore -text
src/cs2/COPYRIGHT -text
src/cs2/README -text
src/cs2/cs2.c -text
src/cs2/makefile -text
src/cs2/parser_cs2.c -text
src/cs2/sample.input -text
src/cs2/timer.c -text
src/cs2/types_cs2.h -text
src/cs2/version -text
src/fiber/Makefile -text
src/fiber/export.h -text
src/fiber/fiber.h -text
src/fiber/idl_read_plugprob.c -text
src/fiber/idl_write_plugprob.c -text
src/fiber/plugprob.c -text
src/skycalc/Makefile -text
src/skycalc/skycalc.c -text
src/xml/platePlans.xsl -text
src/xml/plate_designs.dtd -text
tcl/makeFanucET.tcl -text
ups/platedesign.table -text
